nav#openchat span{
	padding: 0.4rem;
	display:block;
	background: #397b95;
	-webkit-box-shadow: 0px 3px 0px #124b61;
	border-bottom: 1px solid #6cb0ca;
	color: #fff;
	text-transform: uppercase;
	font-weight: light;
	cursor: pointer;
	margin: 0 0 2px 0;
	font-size:1.5em;
	text-transform: uppercase;
	text-align: center;
	min-height: 2rem;
	-webkit-transition: background-color 300ms linear;
}

nav#openchat span:hover{
	color: #fff;
	background: #3aa6d0;
	cursor: pointer;
	text-shadow: rgba(0,0,0,.25) 0px 1px 0px;
}


section#chat.openedchat{
	height: 20rem;
	margin-top: -20rem;
	z-index: 9998;
	position: relative;
}

section#chat.openedchat nav.openchat{
	margin-top: -2rem;
}


section#chat div.message span.timestamp{
	text-align: right;
	font-size: 0.75em;
	color: rgba(255,255,255,0.15);
	margin-top: -0.25rem;
}


div#simplechat div#messages{
	height: 19rem;
	overflow-y: scroll;
	overflow-x: hidden;
}

div#simplechat{
	background-color: #333;
	color:#fff;
	font-family: sans-serif;
}

div#simplechat div.message{
	line-height: 1.5em;
	padding-right: 0.5em;
	display: table-row;
}

div#simplechat div.message:nth-child(odd){
	background-color: #292929;
}

div#simplechat div.message span.username{
	width: 5em;
	text-align: right;
	display: table-cell;
	padding: 0 0.5em 0 0.5em;
}

div#simplechat div.message span.text{
	text-align: left;
	display: table-cell;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 90%;
		white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
word-break: break-word;
white-space: normal;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

div#simplechat div.message span.timestamp{
	display: table-cell;
	text-align: right;
	padding-right: 0.5em;
	color: #555;
}

div#simplechat input{
	color: #fff;
	display: table-row;
	width: 100%;
	padding: 0.5rem;
	background-color: #222;
	border: 0;
	border-top: 1px solid #313131;
}

div.chat-saloon span.username{
	color: #3399ff;
}

div.chat-military span.username{
	color: #02de83;
}

div.chat-kuchyne span.username{
	color: #e6b31d;
}

div.chat-helb span.username{
	color: #fff;
	background-color: #a31800;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,#8f0222 70%,#a31800 100%);
}


nav#openchat.blink span{
 		background-color: #3aa6d0;
    -webkit-transition: background-color 300ms linear;
}
