#chatworks-header, .btn-chatworks{
	display: none;
}

#chatworks-send-box input{
	width: 100%;
	background:#222;
	font-family: 'open_sansregular';
}

#chatworks-send-box input::-webkit-input-placeholder{
	color:#444;
}

#chatworks-messages{
	background: #181818;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.25);
}


nav#openchat span{
	padding: 0.4rem;
	display:block;
	background: #397b95;
	-webkit-box-shadow: 0px 3px 0px #124b61;
	border-bottom: 1px solid #6cb0ca;
	color: #fff;
	text-transform: uppercase;
	font-weight: light;
	cursor: pointer;
	margin: 0 0 2px 0;
	font-size:1.5em;
	text-transform: uppercase;
	text-align: center;
	min-height: 2rem;
}

nav#openchat span:hover{
	color: #fff;
	background: #3aa6d0;
	cursor: pointer;
	text-shadow: rgba(0,0,0,.25) 0px 1px 0px;
}

section#chat{
	display: block;
	height: 2rem;
}

section#chat span.handle{
	width:25%;
	padding: 0 0.25em 0 0;
	font-family: 'open_sansregular';
	font-size: 1em;
	line-height: 1.25em;
}

section#chat span.message{
	width:70%;
	border-left: 1px solid #444;
	font-family: 'open_sansregular';
	font-size: 1em;
	line-height: 1.25em;
}


section#chat span.message{
	width:70%;
	padding: 0 0 0 0.25em;
}

section#chat div.message{
	padding: 0 0.5em 0 0.5em;
}

#chatworks-messages div.message.hilite {
	background: #397b95;
	-webkit-box-shadow: 0px 2px 0px #124b61;
	border-bottom: 1px solid #6cb0ca;
}

#chatworks-sidebar{
	display: none;
}


section#chat.openedchat{
	height: 20rem;
	margin-top: -20rem;
	/*float: left;*/
	z-index: 9998;
	position: relative;
}

section#chat.openedchat nav.openchat{
	margin-top: -2rem;
}


section#chat.openedchat #chatworks-chat{
	height: 17.5rem;
}