section#inventory{
	/*background: #666;*/
	color:#ddd;
	height:75%;
	font-size: 6rem;
	/*line-height: 1.2rem;*/
	overflow-y: scroll;
	text-align: center;
	padding-top: 2rem;
	letter-spacing: -0.05em;
}