nav#login{
	color: #fff;
	right: 32%;
	top:0.2rem;
	position: absolute;
}

/*section#report nav#login{
	position: inherit;
	margin:-2rem 0 0 0;
	border: 1px solid red;
	width: 100%;
	text-align: right;
	padding-right: 5rem;
}
*/

section#report nav#login{
	position: inherit;
	float: left;
	margin-top: 0.5rem;
	text-align: left;
}

section#report nav#login input{
	font-size: 1rem;
	text-align: left;
}