nav#login{
	color: #fff;
	right: 32%;
	top:0.2rem;
	position: absolute;
}

section#report nav#login{
	position: inherit;
	float: left;
	margin-top: 0.5rem;
	text-align: left;
}

section#report nav#login input{
	font-size: 1rem;
	text-align: left;
}