ul.category-RnojurgPEYuK4z5pT li{ /* prilohy */
	width: 14.28%;
}

ul.category-XvLabmKvLvFndyXyb li{ /* omacky */
	width: 20%;
}


ul.category-QwNFBRZYiDRMMuaBP li{ /* steaky */
	width: 16.66%;
}
ul.category-rrfnAxDdh9WEBK2Ws li{ /* burgery */
	width: 33.3%;
}