@import 'reset';
@import 'scrollbar';

@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('/OpenSans-CondLight-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}


html, body { height: 100%; width: 100%; margin: 0; }

body{
	font-family: 'open_sanscondensed_light';
	font-size: 14px;
	background-image: url("/images/darkwood.png");
}

section#main{
	width: 75%;
	float:left;
	height:100%;
}

section#sidebar{
	width: 25%;
	min-width:14rem;
	float:left;
	height:100%;
	background: #333;
	-webkit-box-shadow: outset 0px 0px 10px 0px rgba(0,0,0,0.75);
}